@keyframes fontcolor1 {
    50% {
        color: rgb(78, 73, 73);
    }
}

#button-edit4 {
    font-size: 50px;
    margin-top: 5px;
    width: 135px;
    height: 70px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(78, 73, 73);
    border: 5px black outset;
    border-radius: 20px;
}

#button-edit5 {
    font-size: 50px;
    width: 205px;
    height: 70px;
    background-color: rgb(78, 73, 73);
    border: 5px black outset;
    font-weight: bold;
    font-style: italic;
    color: darkgray;
    border-radius: 10px;
}

#button-edit6 {
    color: darkgray;
    font-size: 30px;
    width: 79.5px;
    height: 50px;
    background-color: rgb(78, 73, 73);
    border: 5px black outset;
    border-radius: 10px;
}

#div-cal {
    display: inline-block;
    border: 10px black ridge;
    background-color: rgb(78, 73, 73);
}

#div-print {
    padding: 40px;
    width: 345px;
    height: 100px;
    font-size: 100px;
    color: black;
    background-color: darkgray;
    border: 10px black ridge;
}

#div-editor {
    background-color: gray;
    display: inline-block;
    width: 550px;
    padding: 20px;
    margin-top: -80px;
    margin-bottom: -10px;
    justify-content: space-around;
    border: 10px rgb(78, 73, 73) ridge;
    box-shadow: 5px 5px 5px 5px darkgray;
    opacity: 0.87;
}

body {
    background-image: url(Image/bg1.jpg);
    text-align: center;
}

#button-edit6:hover {
    background-color: rgb(107, 107, 107);
    border-radius: 100px;
}

#button-edit6:active {
    background-color: gray;
}

#button-edit5:hover {
    background-color: rgb(107, 107, 107);
    border-radius: 100px;
}

#button-edit5:active {
    background-color: gray;
}

#button-edit4:hover {
    background-color: rgb(107, 107, 107);
    border-radius: 100px;
}

#button-edit4:active {
    background-color: gray;
}