body {
    background-color: white
}

h1 {
    font-size: 200%;
}

header {
    text-align: center;
    color: white;
    font-style: oblique;
    font-family: fantasy;
    font-size: 400%;
    background-color: darkslateblue;
    border: 1cm;
    padding: 20px;
    float: center;
}

article {
    text-align: center;
    font-size: 200%;
    font-family: fantasy;
    color: darkslateblue;
    font-style: oblique;
    background-color: white;
    float: center;
    border: 1cm;
    border-color: darkslateblue;
    border-style: inset;
}

section {
    width: 96%;
    height: 200px;
    text-align: start;
    font-family: fantasy;
    font-size: 100%;
    color: black;
    background-color: rgb(160, 146, 238);
    display: inline-block;
    overflow: scroll;
    border: 1cm;
    border-color: darkslateblue;
    border-style: ridge;
}

footer {
    font-style: italic;
    font-size: 200%;
    font-family: fantasy;
    color: black;
    float: center;
    background-color: darkslateblue;
    padding: 30px;
}