body {
    background-color: rgba(114, 73, 44, 0.466);
}

a {
    color: rgb(51, 31, 23);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 150%;
    font-style: italic;
}

header {
    text-align: center;
    float: center;
    color: rgb(51, 31, 23);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-size: 300%;
    border: 1cm;
    border-color: rgb(90, 51, 33);
    border-style: ridge;
    padding: 40px;
    background-color: rgba(114, 73, 44, 0.363);

}

footer {
    background-color: rgb(90, 51, 33);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-size: 180%;
    padding: 40px;
    color: white;
}